/*----- Estilo del encabezado ----*/
.header {
	height: 70px;
	
}
.body-block{
	text-align: center;
	color: aquamarine;
	font-style: oblique;
	font-size: 1cm;
	background-color: rgb(107, 0, 110);
}
.left-block{
	background-color: rgb(0, 0, 0);
}
.rigth-block{
	background-color: rgb(0, 0, 0);
}
/*-----Boton rojo CERRAR SESION----*/
.btn-rojo-session {
    background-color:#d82a3c;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: none;
}
.btn-rojo-session:hover {
    background-color:#bd2433;
	color: #000;
    text-decoration: none;
}

    